:root {
  /* Typography */
  --font-base: 'Rubik', sans-serif;

  /* Colors */
  --color-soft-blue: hsl(231, 69%, 60%);
  --color-soft-red: hsl(0, 94%, 66%);
  --color-soft-red-dark: hsl(360, 78%, 60%);
  --color-grayish-blue: hsl(229, 8%, 60%);
  --color-dark-blue: hsl(229, 31%, 21%);
}
